<div class="card">
  <div class="card-body text-center">
    <img class="rounded-circle img-thumbnail border-danger" width="150" height="150" [src]="user.picture?.large"
      alt="profile pic">
    <div class="card-title text-primary">
      <h1>
        <span class="px-2">{{user.name?.title}}.</span>
        <span class="px-2">{{user.name?.first}}</span>
        <span class="px-2">{{user.name?.last}}</span>
      </h1>
    </div>
    <div class="card-text">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      {{user.email}}
    </div>
    <div class="card-text">
      <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
      {{user.location?.city}} {{user.location?.state}} {{user.location?.country}}
    </div>
    <div class="card-text">
      <fa-icon [icon]="faPhone"></fa-icon>
      {{user.cell}}
    </div>
    <div class="card-text">
      <fa-icon [icon]="faDatabase"></fa-icon>
      Registered at {{user.registered?.date | date}}
    </div>
    <div class="card-text mt-2">
      <button (click)="clicked()" class="btn btn-outline-info">
        <fa-icon [icon]="faSync"></fa-icon>
      </button>
    </div>
  </div>
</div>
